.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}

.chart-content {
    -fx-padding: 30px;    
}

.chart-title {
    -fx-text-fill: #ffffff;
    -fx-font-size: 1.6em;
}


.axis-label {
    -fx-text-fill: #ffffff;
}

.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-vertical-grid-lines {
    -fx-stroke:#505050;
}

.chart-horizontal-grid-lines {
	
    -fx-stroke: #1E2C35;
    -fx-stroke-width: 0.23em;   
}

.chart-alternative-row-fill {
    -fx-fill:transparent;
    -fx-stroke: transparent;
}

.default-color0.chart-series-line {
    -fx-stroke: #DE9457;
}

.default-color0.chart-line-symbol {
    -fx-background-color: #C48959, white;
}
.chart-legend {
    -fx-padding: 30px;    
}
